# Ignore Terraform directories and state files
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Crash logs
crash.log

# Terraform lock file
.terraform.lock.hcl

# Local terraform plugins (optional)
.terraform/plugins/

# Ignore documents
*.doc

